name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Make executable
        run: chmod +x ccss ccss.sh install.sh

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ccss
            ccss.sh
            install.sh
